<div id="left">
  <div class="left_menu">
    <ul>
      <li class="big_menu"><a href="/admin">홈</a></li>
      <li><a href="/admin" style="<%= REQUEST_PATH === '/admin' ? 'font-weight:bold;' : '' %>">대시보드</a></li>
    </ul>
  </div>
</div>
